@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: #0ea5e9;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #0ea5e9;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	background-color: #f4f4f4;
}

header {
	min-height: 100vh;
}

main {
	padding: 30px;
	overflow: auto;
	display: flex;
	justify-content: space-between;
}

a {
	text-decoration: none;
}

.banner {
	position: relative;
	text-align: center;
	max-height: 530px;
	overflow: hidden;
}

.banner img {
	width: 100%;
	height: 550px;
	object-fit: cover;
}

.description {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fafafa;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	text-align: center;
}

.description h1 {
	font-weight: 900;
	font-size: 54px;
}

.description p {
	font-size: 24px;
	margin: 0;
}

.navbar {
	background-color: #fff;
	padding: 20px;
	text-align: center;
	position: relative;
	transition: top 0.3s;
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 1000;
}

.navbar.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.navbar ul {
	list-style: none;
	margin: 0;
}

.navbar li {
	margin: 0;
	display: inline;
}

.navbar a {
	color: #9ca3af;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	margin: 6px;
	display: inline-block;
}

.navbar a:hover {
	color: #0ea5e9;
	border-radius: 16px;
}

.navbar a.active {
	color: #0ea5e9;
	font-weight: 700;
}

.content {
	width: 70%;
	padding: 25px 5px;
}

section {
	background-color: white;
}

.card-article {
	padding: 25px 0px 25px 25px;
	border-bottom: 1px solid;
	border-color: #ddd;
	margin-bottom: 20px;
	display: flex;
}

.title {
	color: #fff;
	display: inline-block;
	position: relative;
	margin-top: 35px;
	background-color: #0ea5e9;
	padding: 0px 25px;
}

.title-divide {
	border: 0.5px solid #e2e8f0;
	left: 55px;
	margin-bottom: 20px;
}

.thumbnail-article {
	overflow: hidden;
	max-width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.thumbnail-article img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 12px;
	margin: 0;
	padding: 0;
}

.content-article {
	flex: 1;
	width: 70%;
	padding: 30px 20px;
}

.content-article:hover h2,
.content-article:hover p {
	color: #0ea5e9;
}

.content-article h2 {
	margin: 0;
	top: 0;
	color: #334155;
}

.content-article p {
	margin-top: 10px;
	color: #475569;
}

aside {
	padding: 25px 5px;
	width: 30%;
	color: #0f172a;
}

.profile-card {
	background-color: white;
	padding: 20px;
	text-align: center;
}

.photo-profile {
	max-width: 100%;
	border-radius: 100%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.name {
	font-size: 24px;
	color: #0f172a;
}

.badge {
	color: #334155;
	background-color: #dde8ed;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 7px;
	margin-top: -15px;
	border-radius: 10px;
	margin-bottom: 25px;
}

.social ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.social li {
	display: inline;
	color: #334155;
	padding: 10px;
	font-size: 24px;
}

.social a {
	color: #475569;
}

.social a:hover {
	color: #0ea5e9;
}

.quote {
	color: #6b7583;
	font-size: 18px;
	padding: 10px 15px;
	font-style: italic;
}

footer {
	background-color: #0ea5e9;
	color: #fff;
	text-align: center;
	padding: 32px 0px;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}

	ul {
		padding: 0;
	}

	main {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	header {
		min-height: 50vh;
	}

	.description h1 {
		font-size: 36px;
	}

	.description p {
		font-size: 18px;
	}

	.navbar a {
		font-size: 14px;
		padding: 10px;
	}

	.content {
		width: 100%;
	}

	.card-article {
		flex-direction: column;
		align-items: center;
		text-align: left;
		padding: 0;
	}

	.thumbnail-article {
		margin-bottom: 15px;
		max-width: 265px;
	}

	.thumbnail-article img {
		width: 100%;
		height: auto;
		border-radius: 12px;
		margin: 0;
		padding: 0;
	}

	.content-article {
		width: 100%;
		padding: 15px;
		text-align: center;
	}

	.content-article h2 {
		margin: 0;
		top: 0;
		color: #334155;
		text-align: left;
	}

	.content-article p {
		margin-top: 10px;
		color: #475569;
		text-align: left;
	}
	aside {
		width: 100%;
	}

	.photo-profile {
		width: 70%;
	}

	.name {
		font-size: 20px;
	}

	.badge {
		width: 100%;
	}

	.social li {
		font-size: 20px;
	}

	.quote {
		font-size: 16px;
	}
}
